{% extends 'base.html' %}
{% block body %}
<div class="container my-4" style="margin-left: 380px;">

    <form method="post" action="/accounts/login/" class="mx-1 mx-md-4">
        {% csrf_token %}
        <!-- USERNAME input -->
        <div class="form-group mb-3">
            <label for="username" class="form-label">USERNAME</label>
            <input type="text" class="form-control" id="username" name="username" style="width: 500px;">
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" id="form2Example2" class="form-control" style="width: 500px;/>
          
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4"style="margin-right: 780px;">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>
      
          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center" style="margin-right: 780px;">
          <p>Not a member? <a href="register">Register</a></p>
        </div>
      </form>
    </div>
{% endblock body %}
{% block title %}LOGIN{% endblock title %}LOGIN